bin/
db/
dbd/
lib/
include/
O.*/
envPaths
*.pyc
nbproject
*.conf
*.obj
*tags
PVenv/*
!PVenv/README.md
PVnames/*
!PVnames/README.md
configure/RELEASE.local
autosave/
*.log
screenlog.*

# Project specific
*TimingLookups.h
