record(mbbo, "$(T)InjSeqFaultCode") {
    field(DESC, "Most recent injection status")
    field(ZRVL, 0)
    field(ONVL, 1)
    field(TWVL, 2)
    field(THVL, 3)
    field(FRVL, 4)
    field(FVVL, 5)
    field(SXVL, 6)
    field(SVVL, 7)
    field(EIVL, 8)
    field(NIVL, 9)
    field(TEVL, 10)
    field(ELVL, 11)
    field(ZRST, "")
    field(ONST, "Missing Connection")
    field(TWST, "Start Overrun")
    field(THST, "Stale Sequence")
    field(FRST, "Invalid Mode")
    field(FVST, "Invalid Bucket")
    field(SXST, "Invalid Bunches")
    field(SVST, "Invalid Beam Current")
    field(EIST, "Excessive Beam Current")
    field(NIST, "PV Severity")
    field(TEST, "Bad EVR/Link")
    field(ELST, "No EOS")
}
